@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FDF6F3;
  margin: 0;
}